<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92006199493-t1q9jfvous2ebka615herujebsjb4u6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92006199493-t1q9jfvous2ebka615herujebsjb4u6h</string>
	<key>API_KEY</key>
	<string>AIzaSyBPN2ZnbYhRIlTwNRKPJL37WJeFXOdQkBI</string>
	<key>GCM_SENDER_ID</key>
	<string>92006199493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.papadev.gosenderr</string>
	<key>PROJECT_ID</key>
	<string>gosenderr-6773f</string>
	<key>STORAGE_BUCKET</key>
	<string>gosenderr-6773f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92006199493:ios:d7220f9626a45bf7aa00ac</string>
</dict>
</plist>